---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import List from '../components/dinamic/ListKnowledge.astro';

---

<Layout title="Welcome to Astro.">
	<main class="container">
		<Home/>
		<List/>
	</main>
</Layout>
