---
import { FetchData } from "@/api/getResources"

    FetchData
---

<div class="w-lg">
    <div class="container-section">
        <div class="container-title">
            <h1>
                Favorites 
                <astro-img>
                    <img src="/star-regular.svg" class="star-regular">
                </astro-img>
            </h1>
        </div>
        <div class="flex">
            <div class="col-6">
                <div class="card">
                    <img src="/nodejs.svg" alt="">
                    <p>Intermmediate</p>
                    <p>Why</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus repudiandae fugiat minima. Nam, voluptatum quam doloribus vel laborum nihil amet pariatur, praesentium quia nemo eveniet minus consequuntur esse, nulla molestiae.</p>
                    <p>tags</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    class AstroHeart extends HTMLElement{
        constructor(){
            super();
            const star = this.querySelector('img')

            star?.addEventListener('click', () => {
                if(star.classList.contains('star-regular')){
                    star.setAttribute('src', '/star-solid.svg')
                    star.classList.remove('star-regular')
                    star.classList.add('star-solid')

                }else{
                    star.setAttribute('src', '/star-regular.svg')
                    star.classList.remove('star-solid')
                    star.classList.add('star-regular')
                }
            })
        }
    }
    customElements.define('astro-img', AstroHeart)
</script>

<style>
    img{
        width: 40px;
    }
    .container-title{
        padding-bottom: 65px;
    }

    .card {
        background: rgba(255, 255, 255, 0.027); /* Fondo semi-translúcido blanco */
        border: 1px solid rgba(128, 128, 128, 0.171);
        border-radius: 8px;
        backdrop-filter: blur(20px); /* Efecto vidrio esmerilado */
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra sutil */
        color: #fff; /* Color del texto */
    }
    
</style>
